name: Build & Deploy
on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy NodeJS app
        uses: appleboy/ssh-action@v0.1.2
        with:
          host: ${{secrets.SSH_HOST}} # IP address of the server you wish to ssh into
          key: ${{secrets.SSH_KEY}} # Private or public key of the server
          username: ${{ secrets.SSH_USERNAME }} # User of the server you want to ssh into
     
          script: |
            mkdir test #create folder you want to deploy to in the live server
            cd test #enter or cd into the folder
            git clone git@github.com:Mulubwa17/ci-cd-to-digitalocean-with-github-actions.git #clone the repository into te folder
            echo 'Deployment successful to digital ocean' #Message to be displayed when deployment is successful
